<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="CustomerVendorXML" value="C:\Kannan\UECC\Oseberg\API\CustomerVendor\"/>
	
    <add key="POFolder" value="C:\Kannan\UECC\Oseberg\API\PurchaseOrder\"/>
    <add key="PIFolder" value="C:\Kannan\UECC\Oseberg\API\PurchaseInvoice\"/>
    <add key="POCancelFolder" value="C:\Kannan\UECC\Oseberg\API\PurchaseOrderCancel\"/>
    <add key="JournalFolder" value="C:\Kannan\UECC\Oseberg\API\Journal\"/>
    <add key="SBFolder" value="C:\Kannan\UECC\Oseberg\API\SB\"/>
    <add key="VINFolder" value="C:\Kannan\UECC\Oseberg\API\VIN\"/>
    
	  <add key="POArchiveFolder" value="C:\Kannan\UECC\Oseberg\API\PurchaseOrder\Archive\"/>
    <add key="PIArchiveFolder" value="C:\Kannan\UECC\Oseberg\API\PurchaseInvoice\Archive\"/>
    <add key="POCancelArchiveFolder" value="C:\Kannan\UECC\Oseberg\API\PurchaseOrderCancel\Archive\"/>
    <add key="JournalArchiveFolder" value="C:\Kannan\UECC\Oseberg\API\Journal\Archive\"/>
    <add key="SBArchiveFolder" value="C:\Kannan\UECC\Oseberg\API\SB\Archive\"/>
    <add key="VINArchiveFolder" value="C:\Kannan\UECC\Oseberg\API\VIN\Archive\"/>
	
	  <add key="POErrorFolder" value="C:\Kannan\UECC\Oseberg\API\\PurchaseOrder\Error\"/>
    <add key="PIErrorFolder" value="C:\Kannan\UECC\Oseberg\API\\PurchaseInvoice\Error\"/>
    <add key="POCancelErrorFolder" value="C:\Kannan\UECC\Oseberg\API\PurchaseOrder\POCancel\Error\"/>
    <add key="JournalErrorFolder" value="C:\Kannan\UECC\Oseberg\API\Journal\Error\"/>
    <add key="SBErrorFolder" value="C:\Kannan\UECC\Oseberg\API\SB\Error\"/>
    <add key="VINErrorFolder" value="C:\Kannan\UECC\Oseberg\API\VIN\Error\"/>
    
	<add key="LogFile" value="C:\Kannan\UECC\Oseberg\API\Logs.txt"/>
	
     <add key="APIPath" value="https://api.businesscentral.dynamics.com/v2.0/5e340b8a-764b-443a-bb18-318ef9c6a1f0/SandboxPT/api/osebergsolutions/webservice/v1.0/companies(4347b694-15e1-ec11-82f9-6045bd931aa7)/"/>
     

    <add key="APIPOCancelEndPoint" value="purchaseHeaders('Order',{PONumber})/Microsoft.NAV.deleteheader"/>
<add key="APIPathCustomer" value="https://bc.uecc.com:8348/BC16_UECC_UK_DEV_NUP/api/OsebergSolutions/WebService/v1.0/companies(b350a599-14aa-ea11-b822-000d3aa9ebe1)/customers?$filter=customerPostingGroup eq 'CUST'"/>
    <add key="APIPathVendor" value="https://bc.uecc.com:8348/BC16_UECC_UK_DEV_NUP/api/OsebergSolutions/WebService/v1.0/companies(b350a599-14aa-ea11-b822-000d3aa9ebe1)/vendors?$filter=vendorPostingGroup eq 'ADM'"/>
    <add key="Setting2" value="Value2"/>
  </appSettings>
</configuration>
